name: GitHub metrics

on:
  schedule:
    # Every 4 hours
    - cron: "0 */4 * * *"
  workflow_dispatch:

jobs:
  habits-charts:
    runs-on: ubuntu-latest
    steps:
      - name: Recent activity charts
        uses: lowlighter/metrics@latest
        with:
          filename: assets/metrics.plugin.habits.charts.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          config_timezone: Europe/Athens

  full-year-calendar:
    runs-on: ubuntu-latest
    steps:
      - name: Full-year calendar
        uses: lowlighter/metrics@latest
        with:
          filename: assets/metrics.plugin.isocalendar.fullyear.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
